 <div ng-controller="ListKurtCtrl">
  <table>
    <tbody>
      <tr>
	<td><button type="button" class="btn btn-info" ng-click="cmd('NW')"><h1>&#8662;</h1></button></td>
	<td><button type="button" class="btn btn-info" ng-click="cmd('N')"><h1>&#8657;</h1></button></td>
	<td><button type="button" class="btn btn-info" ng-click="cmd('NO')"><h1>&#8663;</h1></button></td>
      </tr>
      <tr>
	<td><button type="button" class="btn btn-info" ng-click="cmd('W')"><h1>&#8656;</h1></button></td>
	<td><button type="button" class="btn btn-danger" ng-click="cmd('STOP')"><h1>&#8660; </h1></button></td>
	<td><button type="button" class="btn btn-info" ng-click="cmd('O')"><h1>&#8658;</h1></button></td>
      </tr>
      <tr>
	<td><button type="button" class="btn btn-info" ng-click="cmd('SW')"><h1>&#8665;</h1></button></td>
	<td><button type="button" class="btn btn-info" ng-click="cmd('S')"><h1>&#8659;</h1></button></td>
	<td><button type="button" class="btn btn-info" ng-click="cmd('SO')"><h1>&#8664;</h1></button></td>
      </tr>
    </tbody
  </table>
</div>
